@import "header.css";
@import "footer.css";

* {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.title-container {
    padding: 53px 0 38px 118px;
}

.title-container h1 {
    margin: 0 0 16px 0;
}