@import "header.css";

body {
    font-family: Roboto, sans-serif;
}

.body-container {
    padding: 16px 16px 16px 16px;
}

#newPostForm {
    display: flex;
    flex-direction: column;
}

#newPostForm input {
    margin: 4px 0 18px 0;
    width: 50%;
    min-width: 350px;
    height: 28px;
    border-radius: 4px;
    border: 1px solid;
    padding: 0 0 0 8px;
    background-color: #00000010;
}

#newPostForm textarea {
    width: 50%;
    min-width: 350px;
    height: 200px;
    margin: 4px 0 18px 0;
    padding: 6px 0 0 8px;
    background-color: #00000010;
}

#newPostForm select {
    width: 50%;
    min-width: 350px;
    height: 28px;
    border-radius: 4px;
    border: 1px solid;
    padding: 0 0 0 8px;
    margin: 4px 0 18px 0;
    background-color: #00000010;
}

#newPostForm label {
    font-size: 20px;
}

#newPostForm button {
    width: 108px;
    height: 26px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #008000;
}

#newPostForm button:hover {
    background-color: #008000c2;
}

#newPostForm #image_url {
    margin: 4px 0 0 0;
    width: 50%;
    height: 28px;
    border-radius: 4px;
    border: 1px solid;
    padding: 0 0 0 8px;
}

#newPostForm p {
    font-size: 12px;
    padding: 4px 0 18px 0;
}

h1 {
    font-size: 28px;
    font-weight: 600;
    padding: 0 0 16px 0;
}

.note {
    font-size: 12px;
    padding: 4px 0 18px 0;
}

.https {
    color: red;
}

.hr-div {
    padding: 0 0 16px 0;
}

.hr-div hr {
    opacity: 0.5;
}

.details {
    padding: 0 0 16px 0;
}

.details h2 {
    font-size: 22px;
}

#newPostForm #title::placeholder, #newPostForm #body::placeholder,
#newPostForm #selected::placeholder, #newPostForm #image_url::placeholder {
    opacity: 0.8;
    font-family: Arial, sans-serif;
}
