* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 85px 30px 85px;
    width: 100%;
    font-size: 14px;
    font-family: Inter, sans-serif;
}

footer .footer-list {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    gap: 8px;
    font-weight: 600;
}

.footer-list li {
    cursor: pointer;
}

.footer-list li:hover {
    opacity: 0.5;
}

.newsletter {
    padding: 0 0 8px 0;
    font-weight: 600;
}

.newsletter-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="email"] {
    border: none;
    outline: none;
    width: 100%;
    padding: 12px 0 6px 0;
}

.submitBtn {
    border: none;
    background: none;
    opacity: 0.5;
    cursor: pointer;
}

.submitBtn:hover {
    opacity: 1;
    color: rgba(75, 73, 73, 0.75);
}

.footer-icons {
    display: flex;
    gap: 12px;
}

.footer-icons i {
    font-size: 32px;
    color: rgb(75 73 73);
    cursor: pointer;
}

.footer-icons i:hover {
    color: rgba(75, 73, 73, 0.75);
    transition: ease-in-out 2ms;
}

.hr {
    width: 92%;
    margin: 0 auto;
}

.terms-conditions {
    display: flex;
    gap: 16px;
}

.terms-conditions p {
    cursor: pointer;
}

.terms-conditions p:hover {
    color: rgba(75, 73, 73, 0.75);
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.site-name {
    font-weight: 600;
}


@media (max-width: 1000px) {
    .form-container {
        display: none;
    }

    footer {
        padding: 16px 20px 30px 20px;
    }

    .hr {
        width: 98%;
    }
}

@media (max-width: 618px) {
    .author-edit-delete {
        flex-direction: column;
        gap: 8px;
    }
}

.logo img {
    width: 116px;
    height: auto;
}