* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: transparent;
    height: 86px;
    align-items: center;
    font-size: 1rem;
    justify-content: space-around;
    font-family: Montserrat, sans-serif;
}

header ul li a {
    text-decoration: none;
    color: inherit;
}

ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 16px;
}

li {
    list-style-type: none;
}

#loginAnchor {
    text-decoration: none;
    color: white;
    width: 72px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background: #498C8A;
    font-size: 14px;
    text-align: center;
    align-content: center;
}

#loginAnchor:hover {
    background-color: #7a7373;
    transition: 2ms ease-in-out;
}